name: build

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-15

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Theos
        run: |
          git clone --recursive https://github.com/theos/theos.git $HOME/theos

      - name: Build & package
        env:
          THEOS: ${{ env.HOME }}/theos
          THEOS_MAKE_PATH: ${{ env.HOME }}/theos/makefiles
        run: |
          export THEOS THEOS_MAKE_PATH
          make clean
          make package FINALPACKAGE=1

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: LiquidGlassIGhook-build
          path: |
            packages/*.deb
            .theos/obj/**/LiquidGlassIGhook.dylib
